<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="post-container outline">
    <div class="post-head">
        <h5 class="username" th:text="${post.getUser().getUsername()}"></h5>
        <h3 th:text="${post.getTitle()}"></h3>
    </div>
    <div class="post-body">
        <p th:text="${post.getBody()}"></p>
    </div>
    <div>
        <form th:action='${"/posts/" +post.getId()+ "/comment"}' method="POST">
            <input type="hidden" name="user" th:value="${1}">
            <label for="body">Leave a comment</label>
            <input id="body" name="body" type="text" placeholder="Enter comment here">
            <button type="submit">Post Comment</button>
        </form>
    </div>
    <div class="comments outline-top">
        <div th:each="comment : ${post.getComments()}" class="comment">
            <h5 class="username" th:text="${comment.getUser().getUsername()}"></h5>
            <p th:text="${comment.getBody()}"></p>
        </div>
    </div>
</div>
</body>
</html>