<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
<!--    <link rel="stylesheet" href="/static/css/main.css">-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/post-create.css">

</head>
<body>
<div th:replace="partials/fragment.html :: nav"></div>

<!--
    <form th:action='${"/posts/create"}' method="POST" th:object="${post}">
        <input id="title" th:field="*{title}" name="title" type="text" placeholder="Enter title here" class="title">
        <textarea id="body" th:field="*{body}" name="body" placeholder="Enter body here" class=""></textarea>
        <input type="hidden" name="edited" value="true">
        <button type="submit">Create Post</button>
    </form>
-->

<div class="post-container outline">
    <form th:action='${"/posts/create"}' method="POST" th:object="${post}">
    <!--/*@thymesVar id="post" type="com.codeup.springblog.models.Post"*/-->
        <div class="post outline" id="post">
            <div class="post-head center">
                <input id="title" class="title create" th:field="*{title}" name="title" type="text" placeholder="Enter title here">
            </div>
            <div class="post-body center">
                <textarea id="body" class="create" th:field="*{body}" name="body" placeholder="Enter body here"></textarea>
            </div>
            <div class="center">
                <button id="submit" class="create" type="submit">Create Post</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>