<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div th:replace="partials/fragment.html :: nav"></div>
<div class="post-container outline">
    <!--/*@thymesVar id="post" type="com.codeup.springblog.models.Post"*/-->
    <form th:action='${"/posts/create"}' method="POST" th:object="${post}">
        <input id="title" th:field="*{title}" name="title" type="text" placeholder="Enter title here" class="post-head">
        <textarea id="body" th:field="*{body}" name="body" placeholder="Enter body here" class=""></textarea>
        <input type="hidden" name="edited" value="true">
        <button type="submit">Create Post</button>
    </form>
</div>
</body>
</html>