<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
</head>
<body>
<div>
    <form th:action='${"/posts/" + post.getId() +"/edit"}' th:method="POST">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" th:value="${post.getTitle()}">
        <label for="body"></label>
        <input id="body" name="body" type="text" th:value="${post.getBody()}">
        <!--    <div th:each="comment : ${post.getComments()}">-->
        <!--        <p th:text="${comment.getText()}"></p>-->
        <!--    </div>-->
        <input type="hidden" name="edited" value="true">
        <button type="submit">Save Changes</button>
    </form>
    <form th:action='${"/posts/" + post.getId() +"/delete"}' method="post">
        <label for="delete">Delete post</label>
        <button id="delete" type="submit">Delete Post</button>
    </form>
</div>
</body>
</html>