<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}"></title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div th:replace="partials/fragment.html :: nav"></div>
<div class="posts">
    <div class="post-container outline">
        <div class="post-head">
            <div class="username"><h5><a th:href="${'/users/' + post.getUser().getId()}" th:text="${post.getUser().getUsername()}"></a></h5></div>
            <div class="title"><h3><a th:href="${'/posts/' + post.getId()}" th:text="${post.getTitle()}"></a></h3></div>
        </div>
        <div class="post-body">
            <p th:text="${post.getBody()}"></p>
        </div>
        <div class="likes-container">
            <!--                <button class="like-button" th:id="${'like-' + post.getId()}"><img src="" alt="like-icon"></button>-->
            <h5 th:text="${post.getRating()}" class="likes">0</h5>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action='${"/posts/" +post.getId()+ "/comment"}' method="POST">
                <label for="body">Leave a comment</label>
                <input id="body" name="body" type="text" placeholder="Enter comment here">
                <button type="submit">Post Comment</button>
            </form>
        </div>
        <div class="comments outline-top">
            <div th:each="comment : ${post.getTopComments()}" class="comment outline">
                <h5 class="username"><a th:href="${'/users/' + post.getUser().getId()}" th:text="${post.getUser().getUsername()}"></a></h5>
                <p th:text="${comment.getBody()}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>