<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<div>
    <form th:action='${"/posts/create"}' method="POST">
        <input type="hidden" name="user" th:value="${user.get().getId()}">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" placeholder="Enter title here">
        <label for="body"></label>
        <input id="body" name="body" type="text" placeholder="Enter body here">
        <input type="hidden" name="edited" value="true">
        <button type="submit">Create Post</button>
    </form>
</div>
</body>
</html>