<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>You shouldn't see this</title>
</head>
<body>
<div th:fragment="nav" class="navbar">
    <nav class="nav">
        <div class="nav-tab"><a href="/posts">Home</a></div>
        <div class="nav-tab"><a href="/posts">Explore</a></div>
        <div class="nav-tab"><a href="/following">Following</a></div>
        <div class="nav-tab user" sec:authorize="isAuthenticated()"><a href="">Profile</a></div>
        <div class="nav-tab user" sec:authorize="isAuthenticated()"><a href="/logout">Logout</a></div>
        <div class="nav-tab user" sec:authorize="!isAuthenticated()"><a href="/login">Login</a></div>
    </nav>
</div>

    <div th:fragment="post">

    </div>

    <div th:fragment="comment">

    </div>



</body>
</html>