<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
</head>
<body>
<div>
    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username.
    </div>
    <form th:action="${'/sign-up'}" method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" type="text"/>
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" name="email" type="text"/>
        <label for="password">Password</label>
        <input id="password" th:field="*{password}" name="password" type="password"/>

        <label for="bio">Bio</label>
        <input id="bio" th:field="*{bio}" name="bio" type="text">

        <input type="submit" value="Log In"/>
    </form>
</div>
</body>
</html>