<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="outline">
        <div>
            <div class="profile-head outline">
               <h3 class="username" th:text="${user.getUsername()}"></h3>
               <h3 class="email" th:text="${user.getEmail()}"></h3>
            </div>
            <div class="follow-container">
                <p class="follow followers" th:text="${user.getFollowers().size()}"></p>
                <p class="follow following" th:text="${user.getFollowing().size()}"></p>
            </div>
            <div class="bio">
                <p class="bio" th:text="${user.getBio()}"></p>
            </div>
        </div>
        <div id="posts">
            <div class="post-container outline">
                <div th:each="post : ${user.getPosts()}">
                    <div class="post-head">
                        <h5 class="username"><a th:href="${'/users/' + post.getUser().getId()}" th:text="${post.getUser().getUsername()}"></a></h5>
                        <h3><a th:href="${'/posts/' + post.getId()}" th:text="${post.getTitle()}"></a></h3>
                    </div>
                    <div class="post-body">
                        <p th:text="${post.getBody()}"></p>
                    </div>
                    <div class="comments outline">
                        <div th:each="comment : ${post.getTopComments()}" class="comment">
                            <h5 class="username"><a th:href="${'/users/' + post.getUser().getId()}" th:text="${comment.getUser().getUsername()}"></a></h5>
                            <p th:text="${comment.getBody()}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>