#posts {
    position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 15%;
}
.outline{
    border: 1px solid lightgray;
}
.outline-top{
    border-top: 1px solid lightgray;
}
.post-container{
    margin: 5px 5px 5px 5px; /*TRBL*/
    padding: 5px;
}
.post-head{
    font-weight: bold;
}
.comment{
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: #404040;
}
.username , .email {
    justify-self: left;
    color: black;
    border-radius: 8px;
    border: 1px solid cadetblue;
    background-color: cadetblue;
    size: auto;
}
.profile-head{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}